<h1>게시글을 입력하세요</h1>
<form action ="/ask/create" method="post">
  <div class="form-group">
    <label>작성자</label>
    <input name="username" type="text" class="form-control" >
  </div>
  <div class="form-group">
    <label>제목</label>
    <input name="title" type="text" class="form-control" placeholder="제목을 입력해주세요">
  </div>

  <div class="form-group">
    <label>내용</label>
    <textarea name="content" class="form-control" rows="3"></textarea>
  </div>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <button type="submit" class="btn btn-info">작성</button>
</form>
